[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
